.heading {
    color: blue;
}

.title {
    font-size: 72px;
}

.container {
    background-color: slateblue;
    display: flex;
}

.border {
    border: 1px solid black;
    background-color: slateblue;
}